<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/ASSIGNMENT_QUEST.css">
    <title>ASSIGNMENT QUEST</title>
  </head>
  <body>
    <div class="header">
      <div class="header-contents">
        <h1></h1>
        <img src="logo3.jpg" alt="" class="logo">
        <p>現在出ている課題です</p>

      </div>

    </div>
    <div class="contents">
      <h1 class="date">10/31</h1>
      <div class="menu">
        <ul>
          <li class="map">マップ</li>
          <li class="battle">バトル</li>
          <li class="monster">モンスター</li>
        </ul>
        <div class="image">
          <div class="user">
            <img src="yuusya2.png" alt="" class="yuusya">
          </div>
          <div class="assignment">
            <h1>農業工学レポート LV42</h1>

            <img src="dragon.png" alt="" class="monster-image" width="500" height="400">
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-contents">
        <h1>新しい課題</h1>
        <p>課題タイトル</p>
        <input type="text" name="" value="">
        <p>課題内容</p>
        <textarea name="new-assignment" rows="5" cols="50"></textarea>
        <input type="submit" name="" value="登録">
      </div>
    </div>
  </body>
</html>
