<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/ASSIGNMENT_QUEST.css">
    <title>ASSIGNMENT QUEST</title>

  </head>
  <body>
    <div class="header">
      <div class="header-contents">
        <img src="static/image/ASSIGNMENT_QUEST_logo.jpg" alt="" class="logo">
        <p>モンスターとなった課題を蹴散らせ！！！</p>
      </div>
    </div>
    <div class="contents">
      <div class="date" id="target">
        <script>
          //今日の日付データを変数に格納//変数は"today"とする
          var today=new Date();

          //年・月・日・曜日を取得
          var year = today.getFullYear();
          var month = today.getMonth()+1;
          var week = today.getDay();
          var day = today.getDate();

          var week_ja= new Array("日","月","火","水","木","金","土");

          //年・月・日・曜日を書き出す
          document.write(year+"年"+month+"月"+day+"日 "+week_ja[week]+"曜日");
          const script = document.getElementById('target');
          script.classList.add('date');
        </script>
      </div>
      <div class="image">

          <div class="assignment yuusya">
            <img src="static/image/yuusya2.png" alt="" class="monster-image">
          </div>
          {% for assignment in unfinished %}
          <form action="/finished" method="post" >
            <div class="assignment">
              <p>{assignment.title}</p>
              <!-- if エラー出たらdataの方を({})にする-->
              <p>{assignment.due_date}</p>
              <input type="image" class="monster-image" src="static/image/{assignment.monster_id}.png" name="{}" value="finished">
            </div>
          </form>
          {% endfor %}

    </div>
    <form action="/register" method="post">
      <div class="new-assignment">
        <div class="new-assignment-contents">
          <h1>新しい課題</h1>
          <p>課題タイトル</p>
          <input type="text" name="title">
          <p>締め切り</p>
          <input type="date" name="due_date">
          <p>Twitterでつぶやきますか</p>
          <input type="checkbox" name="tweet">
          <input type="submit" value="登録">
        </div>
       </div>
    </form>

    <div class="finished-assignment">
      <h1>倒したモンスター達</h1>
      {% for ok in finished %}
      <div class="assignment">
        <p>{ok.title}</p>
        <p>{ok.due_date}</p>
        <img src="static/image/{ok.monster_id}.png" alt="" class="monster-image">
      </div>
      {% endfor %}
    </div>
  </body>
</html>
